<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="../style.css">
    <script src="../scripts/nav_manager.js" defer></script>
    <script src="../scripts/animation_manager.js" defer></script>
    <script src="../scripts/theme.js" defer></script>
</head>
<body>

    <main>
        <div class="content-grid">
            {% include 'header.njk' %}
            {{ content | safe }}
            {% include 'footer.njk' %}
        </div>
    </main>

</body>
</html>
