@layer layout {
    .content-grid {
        --padding-inline: 2rem;
        --content-max-width: 1140px;
        --breakout-max-width: 1350px;
        --content-size: min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
        );
        --breakout-size: calc(
            (var(--breakout-max-width) - var(--content-max-width)) / 2
        );

        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100dvh;
        row-gap: 10rem;
        grid-template-columns:
            [full-width-start] minmax(var(--padding-inline), 1fr)
            [breakout-start] minmax(0, var(--breakout-size))
            [content-start] var(--content-size) [content-end]
            minmax(0, var(--breakout-size)) [breakout-end]
            minmax(var(--padding-inline), 1fr) [full-width-start];

        @media (--sm-screen) {
            row-gap: 5rem;
        }
    }
    .content-grid > * {
        grid-column: content;
    }

    .content-grid > .breakout {
        grid-column: breakout;
    }
}
