.progress-bar {
    width: 100%;
    height: 1rem;
    position: relative;
}

.progress-bar::before {
    content: attr(data-name);
    position: absolute;
    top: -2rem;
    left: 0;
    font-size: var(--font-100);
    font-weight: 600;
    color: var(--color-secondary);
}

.progress-bar::after {
    content: attr(data-percent);
    position: absolute;
    top: -2rem;
    right: 0;
    font-size: var(--font-100);
    font-weight: 600;
    color: var(--color-secondary);
}

.back-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-rad-sm);
}

.front-bar {
    position: absolute;
    width: var(--percent);
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: var(--border-rad-sm);
}
