---
title: Design
layout: "base"
headerTheme: "design"
---
<basic-hero id="hero" file-path="../"></basic-hero>

<section id="about-design" class="about-design-section">
    <div class="about-design-items">
        <h2>ABOUT ME</h2>
    </div>
</section>

<section id="gallery" class="gallery-section">
    <div class="gallery-items">
        <h2>MY WORK</h2>
    </div>
</section>

<basic-contact id="contact"></basic-contact>
