@import "base/root.css";
@import "base/reset.css";
@import "base/base.css";
@import "base/global_animations.css";

@import "components/buttons.css";
@import "components/progress_bar.css";

@import "utilities/container.css";
@import "utilities/flow.css";
@import "utilities/font-size.css";

@import "layouts/header.css";
@import "layouts/footer.css";
@import "layouts/hero.css";
@import "layouts/about.css";
@import "layouts/contact.css";
@import "layouts/projects.css";
@import "layouts/gallery.css";
