#about > * {
    opacity: 0;
    transition: opacity 1s ease;
}

#about.show > * {
    opacity: 1;
}

.about-items {
    display: grid;
    grid-template-areas: "about-title about-title" "who-i-am skills";
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    @media (--md-screen) {
        grid-template-areas: "about-title about-title" "who-i-am who-i-am" "skills skills";
        grid-template-columns: 1fr;
        justify-items: center;
        column-gap: 0;
    }
}

.about-blurb {
    display: grid;
    row-gap: 1rem;
    grid-area: about-title;
    place-self: center;
    text-align: center;
    position: relative;
}

.about-blurb::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 2px;
    background-color: var(--color-secondary);
}

.about-who-i-am {
    display: grid;
    row-gap: 1rem;
    grid-area: who-i-am;
    @media (--md-screen) {
        text-align: center;
        place-items: center;
        border: 2px dashed var(--color-secondary);
        border-radius: var(--border-rad-sm);
        padding: 1rem;
    }
}

.about-skills {
    display: grid;
    row-gap: 1rem;
    grid-area: skills;
    border: 3px solid var(--color-secondary);
    box-shadow: 6px 6px 0px var(--color-secondary);
    border-radius: var(--border-rad-sm);
    padding: 1rem;
    width: min(600px, 100%);

    @media (--md-screen) {
        text-align: center;
        border: none;
        box-shadow: none;
        border-radius: none;
        row-gap: 4rem;
    }
}
