#contact > * {
    opacity: 0;
    transition: opacity 1s ease;
}

#contact.show > * {
    opacity: 1;
}

form {
    display: grid;
    grid-template-areas:
        "title title"
        "first-name textarea"
        "last-name textarea"
        "email submit";
    gap: 2rem;
    grid-template-columns: 1fr 1fr;

    @media (--sm-screen) {
        grid-template-columns: 1fr;
        place-items: center;
        grid-template-areas:
            "title title"
            "first-name first-name"
            "last-name last-name"
            "email email"
            "textarea textarea"
            "submit submit";
    }
}

input {
    padding-block: 0;
}

input,
textarea {
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-rad-sm);
    padding: 1rem;
    color: var(--color-secondary);
    transition: all 0.3s ease;
    width: 100%;

    @media (--sm-screen) {
        padding: 0.5rem;
    }
}

input:hover,
textarea:hover {
    border: 4px solid var(--color-secondary);
}

input:focus,
textarea:focus {
    outline: none;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

input::placeholder,
textarea::placeholder {
    color: var(--color-secondary);
}

form h4 {
    grid-area: title;
}

input[name="first"] {
    grid-area: first-name;
}
input[name="last"] {
    grid-area: last-name;
}
input[type="email"] {
    grid-area: email;
}

textarea {
    grid-area: textarea;
}

button[type="submit"] {
    grid-area: submit;
}
