#footer > * {
    opacity: 0;
    transition: opacity 1s ease;
}

#footer.show > * {
    opacity: 1;
}

footer {
    background-color: var(--color-primary);
    display: grid;
    padding-block: 2rem;
    position: relative;
}

footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    top: 0;
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 3rem;

    & .icons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    & a {
        background-color: var(--color-secondary);
        height: 4rem;
        width: 4rem;
        flex-shrink: 0;
        border-radius: 100%;
        display: grid;
        place-items: center;
        position: relative;
        z-index: 1;
    }

    & a::before {
        content: attr(data-name);
        position: absolute;
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border-radius: var(--border-rad-sm);
        font-weight: 700;
        padding: 0.5em 1em;
        transform: translateY(-30px) rotate(25deg);
        opacity: 0;
        visibility: hidden;
        transition:
            transform 200ms ease,
            opacity 200ms ease,
            visibility 200ms ease;
    }
    & a:hover::before {
        transform: translateY(-65px) rotate(0deg);
        opacity: 1;
        visibility: visible;
    }

    & svg {
        height: 2rem;
        fill: var(--color-primary);
        background-color: var(--color-secondary);
    }
}
